<footer class="bg-dark text-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-6 col-lg my-5">
                <a href="https://www.facebook.com/akshaypawansethia/" target="_blank"><img class="img-fluid" src="../../assets/images/036-facebook.svg" alt="FaceBook" width="60px" height="60px"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg my-5">
                <a href="https://www.instagram.com/that_m.e.a.n_guy/" target="_blank"><img class="img-fluid" src="../../assets/images/029-instagram.svg" alt="Instagram" width="60px" height="60px"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg my-5">
                <a href="https://www.youtube.com/channel/UCJ2vHqqKR10XNE8LpLtnWmg" target="_blank"><img class="img-fluid" src="../../assets/images/001-youtube.svg" alt="Youtube" width="60px" height="60px"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg my-5">
                <a href="https://www.linkedin.com/in/akshay-sethia/" target="_blank"><img class="img-fluid" src="../../assets/images/027-linkedin.svg" alt="Linked-In" width="60px" height="60px"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg my-5">
                <a href="https://twitter.com/AkshaySethia1" target="_blank"><img class="img-fluid" src="../../assets/images/008-twitter.svg" alt="Twitter" width="60px" height="60px"></a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg my-5">
                <a href="#" target="_blank"><img class="img-fluid" src="../../assets/images/014-snapchat.svg" alt="Snapchat" width="60px" height="60px"></a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>&copy; All Rights Reserved</p>
                <p><span style="color: red;">&#10084; </span><a style="text-decoration: none;" href="http://akshaysethia.github.io">Akshay Sethia</a></p>
            </div>
        </div>
    </div>
</footer>