<div class="container-fluid">
    <div class="jumbotron text-center bg-dark">
        <div class="container">
            <h1 class="display-4">ToDo</h1>
            <br>
            <p class="lead">A Minimal App to store all your ToDos ... </p>
            <p class="lead">Login or Signup to get Started !</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <div class="card bg-dark text-light mb-5 p-3" style="border: 1px solid white;">
                <div class="card-body">
                    <h5 class="card-title">Example Todo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Task Due Date</h6>
                    <p class="card-text">Task Priority</p>
                    <p class="card-text">Example of a Todo</p>
                    <br>
                    <div class="row">
                        <div class="col"><button class="card-link btn btn-outline-warning">Edit</button></div>
                        <div class="col"><button class="card-link btn btn-outline-danger">Delete</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>